/* ckeditor.css */

/* Estilos para los encabezados */
.ck-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1f2937; /* Equivalente a text-gray-800 */
}

.ck-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #374151; /* Equivalente a text-gray-700 */
}

.ck-content h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #4b5563; /* Equivalente a text-gray-600 */
}

.ck-content h4 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #6b7280; /* Equivalente a text-gray-500 */
}

.ck-content h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #9ca3af; /* Equivalente a text-gray-400 */
}

/* Estilos para los párrafos */
.ck-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #6b7280; /* Equivalente a text-gray-500 */
}

/* Soporte para modo oscuro */
.dark .ck-content h1 {
    color: #f9fafb; /* Equivalente a text-gray-100 */
}

.dark .ck-content h2 {
    color: #e5e7eb; /* Equivalente a text-gray-200 */
}

.dark .ck-content h3 {
    color: #d1d5db; /* Equivalente a text-gray-300 */
}

.dark .ck-content h4 {
    color: #9ca3af; /* Equivalente a text-gray-400 */
}

.dark .ck-content h5 {
    color: #6b7280; /* Equivalente a text-gray-500 */
}

.dark .ck-content p {
    color: #d1d5db; /* Equivalente a text-gray-300 */
}

.ck-editor__editable {
    background: transparent !important; /* Quita el fondo */
    color: inherit !important; /* Asegura que el color del texto sea heredado */
    border: none; /* Opcional, elimina bordes */
}
