/* ckeditor.css */

/* Estilos para los encabezados */
.ck-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.ck-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #444;
}

.ck-content h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #555;
}

.ck-content h4 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #666;
}

.ck-content h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #777;
}

/* Estilos para los párrafos */
.ck-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #666;
}
